<div class="container">
  <div class="top">
    Binary Clock
  </div>

  <div class="parent">
    <div *ngFor="let n of dots; index as i;" class="dot" [className]="'div' + (i+1)" [ngClass]="dotsArray[i] ? 'active' : ''"></div>
  </div>

  <div class="footer">
    <p>&copy; {{year}} <strong>Finardi Alberto</strong></p>
    <a class="fa-brands fa-instagram social" style="margin-right: 1vw;" href="https://www.instagram.com/alberto.finardi/" target="_blank"></a>
    <a class="fa-brands fa-twitter social" href="https://twitter.com/alberto_finardi" target="_blank" ></a>
    <a class="fa-brands fa-github social" style="margin-left: 1vw;" href="https://github.com/albertofinardi" target="_blank"></a>
  </div>
</div>
